img {
  display: block;
}

a img {
  border: 0;
}

.candidate-row {
  vertical-align: middle;
}

.candidate-photo {
  float: right;
}

.ballot {
  margin: 0;
  width: 490px;
}

.ballot-col-select {
  width: 10px;
}

.ballot-col-name {
  width: 130px;
}

.ballot-col-institution {
  width: 200px;
}

.ballot-col-image {
  width: 150px;
}

/* styles for error message */
.error_list {
  list-style-type: disc;
}

.error_list div {
  display: inline;
}

.error_list .error_message {
  font-weight: bold;
}

li {
  list-style-position: inside;
}
