img {
  display: block;
}

a img {
  border: 0;
}

div#main {
  border-top: solid thin gray;
}

.nomarker li {
  list-style-type: none !important;
} 

.clearer {
  clear: both;
}

.small-message {
  font-style: italic;
  font-size: 10px;
}

/* styles for error message */
.error_list {
  list-style-type: disc;
}

.error_list div {
  display: inline;
}

.error_list .error_message {
  font-weight: bold;
}
