{% extends "admin/change_form.html" %}
{% load i18n admin_modify adminmedia %}
{% block extrahead %}
{{block.super}}
{% if add %}
<script type="text/javascript">
$(function() {
    //Set the position numbers for the ballots to be ascending order
    var num_ballots = $("#id_ballots-TOTAL_FORMS").val()
    for(i = 0; i < num_ballots; i++) {
        $("#id_ballots-"+i+"-position_number").val(i+1);
    }
})
</script>
{% endif %}
{% endblock %}
{% block content %}<div id="content-main">
<form action="{{ form_url }}" method="post" id="election_form">
<div>
{% if add %}
    <p>
        Enter general information for this election 
        below. After you click "Continue", you will be able to further 
        customize the ballots and add candidates.
    </p>
{% endif %}
{% if errors %}
    <p class="errornote">
    {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    <ul class="errorlist">{% for error in adminform.form.non_field_errors %}<li>{{ error }}</li>{% endfor %}</ul>
{% endif %}

{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}

{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}

{% if add %}
   <div class="submit-row">
     <input type="submit" value="Continue" class="default" name="_save"/>
   </div>
   <script type="text/javascript">document.getElementById("{{ adminform.first_field.auto_id }}").focus();</script>
{% else %}
  {% submit_row %}
{% endif %}

{% prepopulated_fields_js %}

</div>
</form></div>
{% endblock %}
