{% extends "django_elect/base.html" %}
{% block title %}{{election}} Election - Biographies{% endblock %}
{% block content %}
<h2>Biographies for {{election}} Election Candidates</h2>
<br/>
{% for ballot, candidates in ballot_candidates %}
<div class="section election-biographies">
    <h3 class="heading">{{ballot.description}}</h3>
    <div class="content">
  {% for candidate in candidates %}
      <a name="{{candidate.get_name|urlencode}}"></a>
      <h4>{{candidate.get_name}}</h4>
      <div>
      {% if candidate.image_url %}
        <img src="{{candidate.image_url}}" alt="Photograph" style="float: left;
        padding: 5px"/>
      {% endif %}
        {{candidate.biography|safe}}
      </div>
  {% endfor %}
    </div>
</div>
{% endfor %}
{% if election.voting_allowed %}
<p>
  <a href="/election/">Click here to vote.</a>
</p>
{% endif %}
{% endblock %}
