<table>
  <tr>
    <th>&nbsp;</th>
    {% for ballot in ballots %}
    <th colspan="{{candidates.count}}">{{ballot}}</th>
    {% endfor %}
  </tr>
  <tr>
    <th>Vote ID</th>
    <th>Voter</th>
    {% for ballot in ballots %}
      {% for candidate in ballot.candidates.all %}
      <th>{{candidate.get_name}}</th>
      {% endfor %}
    {% endfor %}
  </tr>
  {% for vote, point_list in votes %}
  <tr>
    <td>{{vote.id}}</td>
    <td>{{vote.account}}</td>
    {% for point in point_list %}
    <td>{{point}}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
