{% extends "django_elect/base.html" %}
{% load show_errors %}
{% block title %}{{election}} Election - Vote{% endblock %}
{% block content %}
<form method="post" action="index.html">
  <h2>{{election}} Election</h2>
  <p>
    {{election.introduction|safe}}
  </p>
  {% if none_selected %}
  <div class="notice" id="error0">
      <img src="{{DJANGO_ELECT_MEDIA_ROOT}}/img/error.gif" alt="Error" />
      Please select at least one candidate.
  </div>
  {% endif %}
{% for form in forms %}
  <div class="section">
    <div class="heading">
      <b>{{form.ballot.description}}</b> - {{form.ballot.get_type_display}}
    </div>
    <div class="content">
      {% if form.ballot.introduction %}
        {{form.ballot.introduction|safe}}<br/>
      {% endif %}
      {% if form.errors %}
        {% show_errors form %}
        <script type="text/javascript">
        window.location.hash = "error0";
        </script>
      {% endif %}
      {{form}}
    </div>
  </div>
  <br/>
{% endfor %}
<p><input type="submit" name="vote" value="Submit Vote"/></p>
</form>
{% endblock %}
